body {
  background-color: rgb(237, 233, 243);
  background-image: url("/src/logo.jpg");
}

a {
  color: rgb(180, 134, 180);
  text-decoration: none;
}

.App-logo {
  max-width: 400px;
  display: block;
  margin: 0;
  padding-bottom: 20px;
}

.App-footer {
  text-align: center;
  margin: 60px auto;
  background-color: rgb(88, 87, 83);
}
